/* MENU
0 - GERAL
1 - MENU
2 - SECTION INTRO
3 - SECTION HISTORIA
4 - SECTION INFO
5 - SECTION LOJAS
6 - SECTION ASSINE
7 - FOOTER
*/


/* 0 - GERAL 
	:::::::::::::::::::::::::::::::::::::::::::::::::::::
	:'######:::'########:'########:::::'###::::'##:::::::
	'##... ##:: ##.....:: ##.... ##:::'## ##::: ##:::::::
	 ##:::..::: ##::::::: ##:::: ##::'##:. ##:: ##:::::::
	 ##::'####: ######::: ########::'##:::. ##: ##:::::::
	 ##::: ##:: ##...:::: ##.. ##::: #########: ##:::::::
	 ##::: ##:: ##::::::: ##::. ##:: ##.... ##: ##:::::::
	. ######::: ########: ##:::. ##: ##:::: ##: ########:
	:......::::........::..:::::..::..:::::..::........::



*/
:root {
	--primary-black: #333;
	--secondary-black: #252525;
	--primary-white: #FAFAFA;
	--primary-grey: #e7e4d8;
	--footer-gray: #d6d3c8;
	--back-historia: #e7e5d8;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.clear:after, .clear:before {
	content: "";
	display: table;
	clear: both;
}

/* 1 - MENU 
	:::::::::::::::::::::::::::::::::::::::::;
	'##::::'##:'########:'##::: ##:'##::::'##:
	 ###::'###: ##.....:: ###:: ##: ##:::: ##:
	 ####'####: ##::::::: ####: ##: ##:::: ##:
	 ## ### ##: ######::: ## ## ##: ##:::: ##:
	 ##. #: ##: ##...:::: ##. ####: ##:::: ##:
	 ##:.:: ##: ##::::::: ##:. ###: ##:::: ##:
	 ##:::: ##: ########: ##::. ##:. #######::
	..:::::..::........::..::::..:::.......:::

*/

.menu {
	background-color: var(--secondary-black);
}

.menu a{
	font-family: Georgia, serif;
	color: var(--primary-white);
	text-decoration: none;

}

.menu ul li{
	list-style: none;
}

.menu-nav{
	float: right;
}

.menu-nav li{
	display: inline-block;
}

.menu-nav li a{
	padding: 5px 15px;
	display: block;
}

.menu-nav ul li:after{
	content: "";
	display: block;
	background-color: var(--primary-white);
	height: 5px;
	width: 0;
	transition: .3s;

}

.menu-nav ul li:hover:after{
	width: 95%;
	transition: .3s;

}


/* 2 - SECTION INTO 
:'######::'########::'######::'########:'####::'#######::'##::: ##:
'##... ##: ##.....::'##... ##:... ##..::. ##::'##.... ##: ###:: ##:
 ##:::..:: ##::::::: ##:::..::::: ##::::: ##:: ##:::: ##: ####: ##:
. ######:: ######::: ##:::::::::: ##::::: ##:: ##:::: ##: ## ## ##:
:..... ##: ##...:::: ##:::::::::: ##::::: ##:: ##:::: ##: ##. ####:
'##::: ##: ##::::::: ##::: ##:::: ##::::: ##:: ##:::: ##: ##:. ###:
. ######:: ########:. ######::::: ##::::'####:. #######:: ##::. ##:
:......:::........:::......::::::..:::::....:::.......:::..::::..::

:::'####:'##::: ##:'########:'########:::'#######:::::
:::. ##:: ###:: ##:... ##..:: ##.... ##:'##.... ##::::
:::: ##:: ####: ##:::: ##:::: ##:::: ##: ##:::: ##::::
:::: ##:: ## ## ##:::: ##:::: ########:: ##:::: ##::::
:::: ##:: ##. ####:::: ##:::: ##.. ##::: ##:::: ##::::
:::: ##:: ##:. ###:::: ##:::: ##::. ##:: ##:::: ##::::
:::'####: ##::. ##:::: ##:::: ##:::. ##:. #######:::::
:::....::..::::..:::::..:::::..:::::..:::.......::::::
*/ 

.intro {
	text-align: center;
	color: var(--primary-white);
	background-image: url(../assets/img/bg-intro.jpg);
	background-position: center;
	background-size: cover;
	padding: 150px 0px;
}

.intro h1 {
	text-transform: uppercase;
	font-size: 3em;
	font-family: Georgioa, serif;
}

.intro h1:after {
	content: "";
	display: block;
	height: 5px;
	width: 20px;
	background-color: var(--primary-white);
	margin: 10px auto;
	transition: .7s;

}

.intro h1:hover:after {
	width: 25%;
	transition: .7s

}

.intro p{
	font-size: 1.125em;
	font-style: italic;
	font-family: Georgia, serif;
}

.sobre {
	padding: 60px 0;
}

.sobre h2 {
	font-family: Georgia, serif;
	font-size: 2.25em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 60px
}

.sobre-item {
	float: left;
	margin: 0 10px;
	width: 460px
}
.sobre-item img {
	display: block;
	max-width: 100%
}

.sobre-item h3 {
	font-size: 2.25em;
	line-height: 1em;
	background-color: var(--secondary-black);
	color: var(--primary-white);
	text-align: center;
	font-style: italic;
	font-weight: normal;
	position: relative;
	width: 220px;
	padding: 5px 0 10px 0;
	top: -25px;
}

.sobre p {
	text-align: center;
	font-size: 1.125em;
	font-style: italic;
	line-height: 1.4em;
	max-width: 460px;
	margin: 20px auto
}
/* 3 - SECTION HISTORIA 
:'######::'########::'######::'########:'####::'#######::'##::: ##:
'##... ##: ##.....::'##... ##:... ##..::. ##::'##.... ##: ###:: ##:
 ##:::..:: ##::::::: ##:::..::::: ##::::: ##:: ##:::: ##: ####: ##:
. ######:: ######::: ##:::::::::: ##::::: ##:: ##:::: ##: ## ## ##:
:..... ##: ##...:::: ##:::::::::: ##::::: ##:: ##:::: ##: ##. ####:
'##::: ##: ##::::::: ##::: ##:::: ##::::: ##:: ##:::: ##: ##:. ###:
. ######:: ########:. ######::::: ##::::'####:. #######:: ##::. ##:
:......:::........:::......::::::..:::::....:::.......:::..::::..::

'##::::'##:'####::'######::'########::'#######::'########::'####::::'###::::
 ##:::: ##:. ##::'##... ##:... ##..::'##.... ##: ##.... ##:. ##::::'## ##:::
 ##:::: ##:: ##:: ##:::..::::: ##:::: ##:::: ##: ##:::: ##:: ##:::'##:. ##::
 #########:: ##::. ######::::: ##:::: ##:::: ##: ########::: ##::'##:::. ##:
 ##.... ##:: ##:::..... ##:::: ##:::: ##:::: ##: ##.. ##:::: ##:: #########:
 ##:::: ##:: ##::'##::: ##:::: ##:::: ##:::: ##: ##::. ##::: ##:: ##.... ##:
 ##:::: ##:'####:. ######::::: ##::::. #######:: ##:::. ##:'####: ##:::: ##:
..:::::..::....:::......::::::..::::::.......:::..:::::..::....::..:::::..::
*/
.produtos {
	background-color: var(--back-historia);
	padding: 40px;
	border: 2px solid #d7d5c8;
	border-right: none;
	border-left: none;
}

.produtos .container {
	display: flex;
}


.produtos .container .produtos-item{
	max-width: 33%;
	font-family: Georgia, serif;
	line-height: 1.25em;
}

.produtos h2{
	font-weight: bold;
	font-size: 2.75em;
	text-align: center;
	padding: 1em;
}

.produtos .container .produtos-paulista:before {
	content:"";
	display: block;
	margin: 20px auto;
	background-color: #492902;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid var(--back-historia);
	box-shadow: 0 0 0 5px #492902;
}

.produtos .container .produtos-carioca:before {
	content:"";
	display: block;
	margin: 20px auto;
	background-color: #c2713a;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid var(--back-historia);
	box-shadow: 0 0 0 5px #c2713a;
}

.produtos .container .produtos-mineiro:before {
	content:"";
	display: block;
	margin: 20px auto;
	background-color: #d7a54e;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid var(--back-historia);
	box-shadow: 0 0 0 5px #d7a54e;
}



.produtos .produtos-btn {
	display: block;
	margin: 30px auto;
	width: 220px;
	text-decoration: none;
	font-family: Georgia, serif;
	font-size: 1.75em;
	display: block;
	border: 4px solid var(--secondary-black);
	color: var(--secondary-black-black);
	padding: 15px;
	text-align: center;
}

.produtos .produtos-btn:hover {
	background-color: var(--secondary-black);
	color: var(--primary-white);
}


/* 4 - SECTION INFO 
:'######::'########::'######::'########:'####::'#######::'##::: ##:
'##... ##: ##.....::'##... ##:... ##..::. ##::'##.... ##: ###:: ##:
 ##:::..:: ##::::::: ##:::..::::: ##::::: ##:: ##:::: ##: ####: ##:
. ######:: ######::: ##:::::::::: ##::::: ##:: ##:::: ##: ## ## ##:
:..... ##: ##...:::: ##:::::::::: ##::::: ##:: ##:::: ##: ##. ####:
'##::: ##: ##::::::: ##::: ##:::: ##::::: ##:: ##:::: ##: ##:. ###:
. ######:: ########:. ######::::: ##::::'####:. #######:: ##::. ##:
:......:::........:::......::::::..:::::....:::.......:::..::::..::

::::::'####:'##::: ##:'########::'#######::::::::
::::::. ##:: ###:: ##: ##.....::'##.... ##:::::::
::::::: ##:: ####: ##: ##::::::: ##:::: ##:::::::
::::::: ##:: ## ## ##: ######::: ##:::: ##:::::::
::::::: ##:: ##. ####: ##...:::: ##:::: ##:::::::
::::::: ##:: ##:. ###: ##::::::: ##:::: ##:::::::
::::::'####: ##::. ##: ##:::::::. #######::::::::
::::::....::..::::..::..:::::::::.......:::::::::
*/






/* 5 - SECTION LOJAS
:'######::'########::'######::'########:'####::'#######::'##::: ##:
'##... ##: ##.....::'##... ##:... ##..::. ##::'##.... ##: ###:: ##:
 ##:::..:: ##::::::: ##:::..::::: ##::::: ##:: ##:::: ##: ####: ##:
. ######:: ######::: ##:::::::::: ##::::: ##:: ##:::: ##: ## ## ##:
:..... ##: ##...:::: ##:::::::::: ##::::: ##:: ##:::: ##: ##. ####:
'##::: ##: ##::::::: ##::: ##:::: ##::::: ##:: ##:::: ##: ##:. ###:
. ######:: ########:. ######::::: ##::::'####:. #######:: ##::. ##:
:......:::........:::......::::::..:::::....:::.......:::..::::..::
::::::'##::::::::'#######::::::::'##::::'###:::::'######::::::::
:::::: ##:::::::'##.... ##::::::: ##:::'## ##:::'##... ##:::::::
:::::: ##::::::: ##:::: ##::::::: ##::'##:. ##:: ##:::..::::::::
:::::: ##::::::: ##:::: ##::::::: ##:'##:::. ##:. ######::::::::
:::::: ##::::::: ##:::: ##:'##::: ##: #########::..... ##:::::::
:::::: ##::::::: ##:::: ##: ##::: ##: ##.... ##:'##::: ##:::::::
:::::: ########:. #######::. ######:: ##:::: ##:. ######::::::::
::::::........:::.......::::......:::..:::::..:::......:::::::::
*/

.locais{
	padding: 30px 75px;
}

.locais .locais-item {
	display: inline-flex;
	padding: 15px;
}

.locais .locais-item img{
	padding: 0 20px;
}

.locais .locais-item h2{
	font-size: 20px;
	font-weight: bold;
}

.locais .locais-item p{
	padding: 20px 0;
	width: 38%
}

.locais a{
	display: block;
	/*margin: 30px auto;*/
	width: 220px;
	text-decoration: none;
	font-family: Georgia, serif;
	font-size: 1.75em;
	display: block;
	border: 4px solid var(--secondary-black);
	color: var(--secondary-black-black);
	padding: 15px;
	text-align: center;
	transition: .3s;
}

.locais a:hover{
	background-color: var(--secondary-black);
	color: var(--primary-white);
	transition: .3s;
}

/* 6 - SECTION ASSINE
:'######::'########::'######::'########:'####::'#######::'##::: ##:
'##... ##: ##.....::'##... ##:... ##..::. ##::'##.... ##: ###:: ##:
 ##:::..:: ##::::::: ##:::..::::: ##::::: ##:: ##:::: ##: ####: ##:
. ######:: ######::: ##:::::::::: ##::::: ##:: ##:::: ##: ## ## ##:
:..... ##: ##...:::: ##:::::::::: ##::::: ##:: ##:::: ##: ##. ####:
'##::: ##: ##::::::: ##::: ##:::: ##::::: ##:: ##:::: ##: ##:. ###:
. ######:: ########:. ######::::: ##::::'####:. #######:: ##::. ##:
:......:::........:::......::::::..:::::....:::.......:::..::::..::
:::'###:::::'######:::'######::'####:'##::: ##:'########:
::'## ##:::'##... ##:'##... ##:. ##:: ###:: ##: ##.....::
:'##:. ##:: ##:::..:: ##:::..::: ##:: ####: ##: ##:::::::
'##:::. ##:. ######::. ######::: ##:: ## ## ##: ######:::
 #########::..... ##::..... ##:: ##:: ##. ####: ##...::::
 ##.... ##:'##::: ##:'##::: ##:: ##:: ##:. ###: ##:::::::
 ##:::: ##:. ######::. ######::'####: ##::. ##: ########:
..:::::..:::......::::......:::....::..::::..::........::
 */


 /* 7 - FOOTER

'########::'#######:::'#######::'########:'########:'########::
 ##.....::'##.... ##:'##.... ##:... ##..:: ##.....:: ##.... ##:
 ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##:::: ##:
 ######::: ##:::: ##: ##:::: ##:::: ##:::: ######::: ########::
 ##...:::: ##:::: ##: ##:::: ##:::: ##:::: ##...:::: ##.. ##:::
 ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##::. ##::
 ##:::::::. #######::. #######::::: ##:::: ########: ##:::. ##:
..:::::::::.......::::.......::::::..:::::........::..:::::..::




 */